<footer class="site-footer">

  <div class="wrapper">

<!--     <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><strong>{{ site.title }}</strong></li>

          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

       <div class="footer-col  footer-col-2">
 

         <p class="text">
		Florida State Univeristy<br />
		Department of Mathematics<br /></p> 
      </div>     
      
      <div class="footer-col  footer-col-3">
       <ul class="social-media-list">

                  {% if site.google_scholar_id %}
  <li>
    <a href="https://scholar.google.com/citations?user={{ site.google_scholar_id }}">
      <i class="ai ai-google-scholar" style="color:gray"></i> Google Scholar
    </a>
  </li>
{% endif %}
     

          {% if site.orcid_id %}
  <li>
    <a href="https://orcid.org/{{ site.orcid_id }}">
      <i class="ai ai-orcid" style="color:gray"></i> ORCID
    </a>
  </li>
{% endif %}

          {% if site.research_gate_id %}
  <li>
    <a href="https://www.researchgate.net/profile/{{ site.research_gate_id }}">
      <i class="ai ai-researchgate" style="color:gray"></i> Research Gate
    </a>
  </li>
{% endif %}
      
	                 {% if site.publons_id %}
  <li>
    <a href="https://publons.com/researcher/{{ site.publons_id }}">
      <i class="ai ai-publons" style="color:gray"></i> Publons
    </a>
  </li>
{% endif %}
	       
        </ul>
      </div>
    </div>

  </div>


</footer>  
